@media screen and (min-width: 768px) {
    nav ul {
        display: flex !important;
        gap: 1em;
    }

    .hamburger {
        display: none;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
